# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pkl

# Virtual environment
.venv/

# IDE
.idea/

# MLflow local runs
mlruns/

# Trained model artifacts (re-created by pipeline)
models/

# Large data files
retail_store_inventory.csv
predictions.csv


# Outputs / temp
outputs/
*.db